In [2]:
#Import necessary libraries
import pandas as pd

In [3]:
#Load the dataset 1
geo = pd.read_csv("01.geo.csv", sep=";", encoding = "ISO-8859-1")

#Check for standard missing values
print(geo.isnull().sum().sum())

#Total missing values for each feature
print(geo.isnull().sum())

0
geo_city                    0
geo_latitude                0
geo_longitude               0
geo_admin1_code             0
geo_autonomous_community    0
dtype: int64

In [4]:
#Load the dataset 2
customers = pd.read_csv("02.customers.csv", sep=";", encoding = "ISO-8859-1")

#Check for standard missing values
print(customers.isnull().sum().sum())

#Total missing values for each feature
print(customers.isnull().sum())

0
customer_id                      0
customer_unique_id               0
customer_autonomous_community    0
customer_city                    0
dtype: int64

In [5]:
#Load the dataset 3
sellers = pd.read_csv("03.sellers.csv", sep=";", encoding = "ISO-8859-1")

#Check for standard missing values
print(sellers.isnull().sum().sum())

#Total missing values for each feature
print(sellers.isnull().sum())

0
seller_id                      0
seller_autonomous_community    0
seller_city                    0
dtype: int64

In [6]:
#Load the dataset 4
order_status = pd.read_csv("04.order_status.csv", sep=";", encoding = "ISO-8859-1")

#Check for standard missing values
print(order_status.isnull().sum().sum())

#Total missing values for each feature
print(order_status.isnull().sum())

4931
order_id                          9
customer_id                       0
order_status                      0
ts_order_purchase                 0
ts_order_approved               162
ts_order_delivered_carrier     1787
ts_order_delivered_customer    2969
ts_order_estimated_delivery       4
s_time                            0
dtype: int64

In [86]:
order_status

,order_id,customer_id,order_status,ts_order_purchase,ts_order_approved,ts_order_delivered_carrier,ts_order_delivered_customer,ts_order_estimated_delivery
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,02/10/2018 10:56,02/10/2018 11:07,04/10/2018 19:55,10/10/2018 21:25,18/10/2018 00:00
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,24/07/2019 20:41,26/07/2019 03:24,26/07/2019 14:31,07/08/2019 15:27,13/08/2019 00:00
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,08/08/2019 08:38,08/08/2019 08:55,08/08/2019 13:50,17/08/2019 18:06,04/09/2019 00:00
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,18/11/2018 19:28,18/11/2018 19:45,22/11/2018 13:39,02/12/2018 00:28,15/12/2018 00:00
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,13/02/2019 21:18,13/02/2019 22:20,14/02/2019 19:46,16/02/2019 18:17,26/02/2019 00:00
...,...,...,...,...,...,...,...,...
99445,9c5dedf39a927c1b2549525ed64a053c,39bd1228ee8140590ac3aca26f2dfe00,delivered,09/03/2018 09:54,09/03/2018 09:54,10/03/2018 11:18,17/03/2018 15:08,28/03/2018 00:00
99446,63943bddc261676b46f01ca7ac2f7bd8,1fca14ff2861355f6e5f14306ff977a7,delivered,06/02/2019 12:58,06/02/2019 13:10,07/02/2019 23:22,28/02/2019 17:37,02/03/2019 00:00
99447,83c1379a015df1e13d02aae0204711ab,1aa71eb042121263aafbe80c1b562c9c,delivered,27/08/2018 14:46,27/08/2018 15:04,28/08/2018 20:52,21/09/2018 11:24,27/09/2018 00:00
99448,11c177c8e97725db2631073c19f07b62,b331b74b18dc79bcdf6532d51e1637c1,delivered,08/01/2019 21:28,08/01/2019 21:36,12/01/2019 15:35,25/01/2019 23:32,15/02/2019 00:00
99449,66dea50a8b16d9b4dee7af250b4be1a5,edb027a75a1449115f6b43211ae02a24,delivered,08/03/2019 20:57,09/03/2019 11:20,09/03/2019 22:11,16/03/2019 13:08,03/04/2019 00:00

In [98]:
order_status.dropna(subset=['order_id'], inplace=True)
order_status

,order_id,customer_id,order_status,ts_order_purchase,ts_order_approved,ts_order_delivered_carrier,ts_order_delivered_customer,ts_order_estimated_delivery
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,02/10/2018 10:56,02/10/2018 11:07,04/10/2018 19:55,10/10/2018 21:25,18/10/2018 00:00
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,24/07/2019 20:41,26/07/2019 03:24,26/07/2019 14:31,07/08/2019 15:27,13/08/2019 00:00
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,08/08/2019 08:38,08/08/2019 08:55,08/08/2019 13:50,17/08/2019 18:06,04/09/2019 00:00
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,18/11/2018 19:28,18/11/2018 19:45,22/11/2018 13:39,02/12/2018 00:28,15/12/2018 00:00
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,13/02/2019 21:18,13/02/2019 22:20,14/02/2019 19:46,16/02/2019 18:17,26/02/2019 00:00
...,...,...,...,...,...,...,...,...
99445,9c5dedf39a927c1b2549525ed64a053c,39bd1228ee8140590ac3aca26f2dfe00,delivered,09/03/2018 09:54,09/03/2018 09:54,10/03/2018 11:18,17/03/2018 15:08,28/03/2018 00:00
99446,63943bddc261676b46f01ca7ac2f7bd8,1fca14ff2861355f6e5f14306ff977a7,delivered,06/02/2019 12:58,06/02/2019 13:10,07/02/2019 23:22,28/02/2019 17:37,02/03/2019 00:00
99447,83c1379a015df1e13d02aae0204711ab,1aa71eb042121263aafbe80c1b562c9c,delivered,27/08/2018 14:46,27/08/2018 15:04,28/08/2018 20:52,21/09/2018 11:24,27/09/2018 00:00
99448,11c177c8e97725db2631073c19f07b62,b331b74b18dc79bcdf6532d51e1637c1,delivered,08/01/2019 21:28,08/01/2019 21:36,12/01/2019 15:35,25/01/2019 23:32,15/02/2019 00:00
99449,66dea50a8b16d9b4dee7af250b4be1a5,edb027a75a1449115f6b43211ae02a24,delivered,08/03/2019 20:57,09/03/2019 11:20,09/03/2019 22:11,16/03/2019 13:08,03/04/2019 00:00

In [7]:
#Load the dataset 5
order_items = pd.read_csv("05.order_items.csv", sep=";", encoding = "ISO-8859-1")

#Check for standard missing values
print(order_items.isnull().sum().sum())

#Total missing values for each feature
print(order_items.isnull().sum())

5
order_id                    5
order_item_sequence_id      0
product_id                  0
price                       0
shipping_cost               0
seller_id                   0
max_shipping_seller_date    0
dtype: int64

In [53]:
order_items["order_id"].isnull()

0         False
1         False
2         False
3         False
4         False
          ...
112650    False
112651    False
112652    False
112653    False
112654    False
Name: order_id, Length: 112655, dtype: bool

In [65]:
order_items.dropna()

,order_id,order_item_sequence_id,product_id,price,shipping_cost,seller_id,max_shipping_seller_date
0,e5fa5a7210941f7d56d0208e4e071d35,1,f3c2d01a84c947b078e32bbef0718962,"59,5","15,56",a425f92c199eb576938df686728acd20,19/09/2017 00:15
1,bfbd0f9bdef84302105ad712db648a6c,1,5a6b04657a4c5ee34285d1e4619a96b4,"44,99","2,83",ecccfa2bb93b34a3bf033cc5d1dcdc69,19/09/2017 23:11
2,bfbd0f9bdef84302105ad712db648a6c,2,5a6b04657a4c5ee34285d1e4619a96b4,"44,99","2,83",ecccfa2bb93b34a3bf033cc5d1dcdc69,19/09/2017 23:11
3,bfbd0f9bdef84302105ad712db648a6c,3,5a6b04657a4c5ee34285d1e4619a96b4,"44,99","2,83",ecccfa2bb93b34a3bf033cc5d1dcdc69,19/09/2017 23:11
4,cd3b8574c82b42fc8129f6d502690c3e,1,e2a1d45a73dc7f5a7f9236b043431b89,"29,99","10,96",b499c00f28f4b7069ff6550af8c1348a,08/10/2017 10:34
...,...,...,...,...,...,...,...
112650,3b61aab5de69abc1731138bd104a777f,1,6aa063e063f2ab982b471e58afe06d72,"999,99","24,77",610f72e407cdd7caaa2f8167b0163fd8,18/09/2019 21:10
112651,9c94a4ea2f7876660fa6f1b59b69c8e6,1,282b126b2354516c5f400154398f616d,"75,99","14,7",7a241947449cc45dbfda4f9d0798d9d0,03/02/2020 20:23
112652,13bdf405f961a6deec817d817f5c6624,1,96ea060e41bdecc64e2de00b97068975,"69,99","14,66",7a241947449cc45dbfda4f9d0798d9d0,05/02/2020 03:30
112653,c2bb89b5c1dd978d507284be78a04cb2,1,87b92e06b320e803d334ac23966c80b1,"99,99","61,44",7a241947449cc45dbfda4f9d0798d9d0,09/04/2020 22:35
112654,c2bb89b5c1dd978d507284be78a04cb2,2,87b92e06b320e803d334ac23966c80b1,"99,99","61,44",7a241947449cc45dbfda4f9d0798d9d0,09/04/2020 22:35

In [8]:
#Load the dataset 6
order_payments = pd.read_csv("06.order_payments.csv", sep=";", encoding = "ISO-8859-1")

#Check for standard missing values
print(order_payments.isnull().sum().sum())

#Total missing values for each feature
print(order_payments.isnull().sum())

12
order_id                         12
payment_method                    0
payment_method_sequence_id        0
payment_installments_quantity     0
transaction_value                 0
dtype: int64

In [69]:
order_payments["order_id"].isnull()

0         False
1         False
2         False
3         False
4         False
          ...
103893    False
103894    False
103895    False
103896    False
103897    False
Name: order_id, Length: 103898, dtype: bool

In [66]:
order_payments.dropna()

,order_id,payment_method,payment_method_sequence_id,payment_installments_quantity,transaction_value
0,b81ef226f3fe1789b1e8b2acac839d17,credit_card,1,8,"99,33"
1,a9810da82917af2d9aefd1278f1dcfa0,credit_card,1,1,"24,39"
2,25e8ea4e93396b6fa0d3dd708e76c1bd,credit_card,1,1,"65,71"
3,ba78997921bbcdc1373bb41e913ab953,credit_card,1,8,"107,78"
4,42fdf880ba16b47b59251dd489d4441a,credit_card,1,2,"128,45"
...,...,...,...,...,...
103893,0406037ad97740d563a178ecc7a2075c,cash,1,1,"363,31"
103894,7b905861d7c825891d6347454ea7863f,credit_card,1,2,"96,8"
103895,32609bbb3dd69b3c066a6860554a77bf,credit_card,1,1,"47,77"
103896,b8b61059626efa996a60be9bb9320e10,credit_card,1,5,"369,54"
103897,28bbae6599b09d39ca406b747b6632b1,cash,1,1,"191,58"

In [9]:
#Load the dataset 7
product_reviews = pd.read_csv("07.product_reviews.csv", sep=";", encoding = "ISO-8859-1")

#Check for standard missing values
print(product_reviews.isnull().sum().sum())

#Total missing values for each feature
print(product_reviews.isnull().sum())

0
order_id        0
product_id      0
review_score    0
review_date     0
dtype: int64

In [10]:
#Load the dataset 8
products = pd.read_csv("08.products.csv", sep=";", encoding = "ISO-8859-1")

#Check for standard missing values
print(products.isnull().sum().sum())

#Total missing values for each feature
print(products.isnull().sum())

1228
product_id                  0
product_category_name     610
product_weight_gr           2
product_length_cm           2
product_height_cm           2
product_width_cm            2
product_photo_quantity    610
dtype: int64

In [117]:
merged_Frame = pd.merge(order_items, order_status, on = "order_id", how='inner')
merged_Frame

,order_id,order_item_sequence_id,product_id,price,shipping_cost,seller_id,max_shipping_seller_date,customer_id,order_status,ts_order_purchase,ts_order_approved,ts_order_delivered_carrier,ts_order_delivered_customer,ts_order_estimated_delivery
0,e5fa5a7210941f7d56d0208e4e071d35,1,f3c2d01a84c947b078e32bbef0718962,"59,5","15,56",a425f92c199eb576938df686728acd20,19/09/2017 00:15,683c54fc24d40ee9f8a6fc179fd9856c,canceled,05/09/2017 00:15,07/10/2017 13:17,NaN,NaN,28/10/2017 00:00
1,bfbd0f9bdef84302105ad712db648a6c,1,5a6b04657a4c5ee34285d1e4619a96b4,"44,99","2,83",ecccfa2bb93b34a3bf033cc5d1dcdc69,19/09/2017 23:11,86dc2ffce2dfff336de2f386a786e574,delivered,15/09/2017 12:16,15/09/2017 12:16,07/11/2017 17:11,09/11/2017 07:47,04/10/2017 00:00
2,bfbd0f9bdef84302105ad712db648a6c,2,5a6b04657a4c5ee34285d1e4619a96b4,"44,99","2,83",ecccfa2bb93b34a3bf033cc5d1dcdc69,19/09/2017 23:11,86dc2ffce2dfff336de2f386a786e574,delivered,15/09/2017 12:16,15/09/2017 12:16,07/11/2017 17:11,09/11/2017 07:47,04/10/2017 00:00
3,bfbd0f9bdef84302105ad712db648a6c,3,5a6b04657a4c5ee34285d1e4619a96b4,"44,99","2,83",ecccfa2bb93b34a3bf033cc5d1dcdc69,19/09/2017 23:11,86dc2ffce2dfff336de2f386a786e574,delivered,15/09/2017 12:16,15/09/2017 12:16,07/11/2017 17:11,09/11/2017 07:47,04/10/2017 00:00
4,cd3b8574c82b42fc8129f6d502690c3e,1,e2a1d45a73dc7f5a7f9236b043431b89,"29,99","10,96",b499c00f28f4b7069ff6550af8c1348a,08/10/2017 10:34,7812fcebfc5e8065d31e1bb5f0017dae,delivered,03/10/2017 22:31,04/10/2017 10:19,08/10/2017 10:34,14/10/2017 16:08,23/11/2017 00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
112645,3b61aab5de69abc1731138bd104a777f,1,6aa063e063f2ab982b471e58afe06d72,"999,99","24,77",610f72e407cdd7caaa2f8167b0163fd8,18/09/2019 21:10,8e29c6e9c795eda30cf7f47244720132,delivered,25/08/2019 20:59,25/08/2019 21:10,28/08/2019 15:05,30/08/2019 16:47,21/09/2019 00:00
112646,9c94a4ea2f7876660fa6f1b59b69c8e6,1,282b126b2354516c5f400154398f616d,"75,99","14,7",7a241947449cc45dbfda4f9d0798d9d0,03/02/2020 20:23,22e922696a7d1ab9a19c6b702fedc387,shipped,14/03/2018 19:23,14/03/2018 19:23,16/03/2018 14:31,NaN,04/08/2018 00:00
112647,13bdf405f961a6deec817d817f5c6624,1,96ea060e41bdecc64e2de00b97068975,"69,99","14,66",7a241947449cc45dbfda4f9d0798d9d0,05/02/2020 03:30,b279a1d441c73c1974d7a63618855aa0,canceled,16/03/2018 02:30,16/03/2018 02:30,NaN,NaN,08/08/2018 00:00
112648,c2bb89b5c1dd978d507284be78a04cb2,1,87b92e06b320e803d334ac23966c80b1,"99,99","61,44",7a241947449cc45dbfda4f9d0798d9d0,09/04/2020 22:35,6357fffb5704244d552615bbfcea1442,delivered,23/05/2018 22:28,24/05/2018 22:35,29/05/2018 02:03,09/06/2018 13:35,11/10/2018 00:00
112649,c2bb89b5c1dd978d507284be78a04cb2,2,87b92e06b320e803d334ac23966c80b1,"99,99","61,44",7a241947449cc45dbfda4f9d0798d9d0,09/04/2020 22:35,6357fffb5704244d552615bbfcea1442,delivered,23/05/2018 22:28,24/05/2018 22:35,29/05/2018 02:03,09/06/2018 13:35,11/10/2018 00:00

In [131]:
mF = merged_Frame.sort_values('order_id', ignore_index=True)
mF

,order_id,order_item_sequence_id,product_id,price,shipping_cost,seller_id,max_shipping_seller_date,customer_id,order_status,ts_order_purchase,ts_order_approved,ts_order_delivered_carrier,ts_order_delivered_customer,ts_order_estimated_delivery
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,"58,9","13,29",48436dade18ac8b2bce089ec2a041202,19/09/2018 09:45,3ce436f183e68e07877b285a838db11a,delivered,13/09/2018 08:59,13/09/2018 09:45,19/09/2018 18:34,20/09/2018 23:43,29/09/2018 00:00
1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,"239,9","19,93",dd7ddc04e1b6c2c614352b383efe2d36,03/05/2018 11:05,f6dd3ec061db4e3987629fe6b26e5cce,delivered,26/04/2018 10:53,26/04/2018 11:05,04/05/2018 14:35,12/05/2018 16:04,15/05/2018 00:00
2,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,199,"17,87",5b51032eddd242adc84c38acab88f23d,18/01/2019 14:48,6489ae5e4333f3693df5ad4372dab6d3,delivered,14/01/2019 14:33,14/01/2019 14:48,16/01/2019 12:36,22/01/2019 13:19,05/02/2019 00:00
3,00024acbcdf0a6daa1e931b038114c75,1,7634da152a4610f1595efa32f14722fc,"12,99","12,79",9d7a1d34a5052409006425275ba1c2b4,15/08/2019 10:10,d4eb9395c8c0431ee92fce09860c5a06,delivered,08/08/2019 10:00,08/08/2019 10:10,10/08/2019 13:28,14/08/2019 13:32,20/08/2019 00:00
4,00042b26cf59d7ce69dfabb4e55b4fd9,1,ac6c3623068f30de03045865e4e10089,"199,9","18,14",df560393f3a51e74553ab94004ba5c87,13/02/2018 13:57,58dbd0b2d70206bf40e62cd34e84d795,delivered,04/02/2018 13:57,04/02/2018 14:10,16/02/2018 09:46,01/03/2018 16:42,17/03/2018 00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
112645,fffc94f6ce00a00581880bf54a75a037,1,4aa6014eceb682077f9dc4bffebc05b0,"299,99","43,41",b8bc237ba3788b23da09c0f1f3a3288c,02/05/2019 04:11,b51593916b4b8e0d6f66f2ae24f2673d,delivered,23/04/2019 13:57,25/04/2019 04:11,25/04/2019 12:09,10/05/2019 22:56,18/05/2019 00:00
112646,fffcd46ef2263f404302a634eb57f7eb,1,32e07fd915822b0765e448c4dd74c828,350,"36,53",f3c38ab652836d21de61fb8314b69182,20/07/2019 04:31,84c5d4fbaf120aae381fad077416eaa0,delivered,14/07/2019 10:26,17/07/2019 04:31,17/07/2019 08:05,23/07/2019 20:31,01/08/2019 00:00
112647,fffce4705a9662cd70adb13d4a31832d,1,72a30483855e2eafc67aee5dc2560482,"99,9","16,95",c3cfdc648177fdbbbb35635a37472c53,30/10/2018 17:14,29309aa813182aaddc9b259e31b870e6,delivered,23/10/2018 17:07,24/10/2018 17:14,26/10/2018 15:13,28/10/2018 12:22,10/11/2018 00:00
112648,fffe18544ffabc95dfada21779c9644f,1,9c422a519119dcad7575db5af1ba540e,"55,99","8,72",2b3e4a2a3ea8e01938cabda2a3e5cc79,21/08/2018 00:04,b5e6afd5a41800fdf401e0272ca74655,delivered,14/08/2018 23:02,15/08/2018 00:04,15/08/2018 19:02,16/08/2018 21:59,25/08/2018 00:00
112649,fffe41c64501cc87c801fd61db3f6244,1,350688d9dc1e75ff97be326363655e01,43,"12,79",f7ccf836d21b2fb1de37564105216cc1,12/06/2019 17:10,96d649da0cc4ff33bb408b199d4c7dcf,delivered,09/06/2019 17:00,09/06/2019 17:10,11/06/2019 14:11,14/06/2019 17:56,28/06/2019 00:00

In [133]:
merged_Frame.to_csv('merged_Frame.csv')

In [136]:
merged_Frame.to_excel('merged_Frame.xlsx')